# Downloading open financial data

In [80]:
# Import libraries
import pyfinance
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
import pandas as pd

### Yahoo single ticker

In [81]:
# Load data from yahoo finance
data = pdr.get_data_yahoo("AAPL", start="2017-01-01", end="2019-12-31")
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.133326  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.102955   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.240782   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.544477  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.796766  134247600

### Storing multiple tickers to csv

In [82]:
ticker_list=['DJIA', 'DOW', 'LB', 'EXPE', 'PXD', 'MCHP', 'CRM', 'JEC', 'NRG', 'HFC', 'NOW']
today = date.today()
start_date = '2021-01-01'
end_date = '2023-04-05'

files=[]

def get_data(ticker):
    print (ticker)
    data = pdr.get_data_yahoo(ticker, start=start_date, end=end_date)
    dataname= ticker+'_'+str(today)
    files.append(dataname)
    save_data(data, dataname)

def save_data(df, filename):
    df.to_csv('./data/'+filename+'.csv')

for tik in ticker_list:
    get_data(tik)

for file in files:
    df1 = pd.read_csv('./data/'+str(file)+'.csv')
    print(df1.head())

print(df1.head)

DJIA
[*********************100%***********************]  1 of 1 completed
DOW
[*********************100%***********************]  1 of 1 completed
LB
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- LB: No timezone found, symbol may be delisted
EXPE
[*********************100%***********************]  1 of 1 completed
PXD
[*********************100%***********************]  1 of 1 completed
MCHP
[*********************100%***********************]  1 of 1 completed
CRM
[*********************100%***********************]  1 of 1 completed
JEC
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- JEC: No timezone found, symbol may be delisted
NRG
[*********************100%***********************]  1 of 1 completed
HFC
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- HFC: No timezone found, symbol may be delisted
NOW
[*********************100%***********************]  1 of 1 completed
         Date       Open       High        Low      Close  Adj Close  Volume
0  2022-02-24  23.780001  24.202999  23.650000  24.202999  21.700880   22700
1  2022-02-25  24.410000  24.580999  24.190001  24.580999  22.039803   26800
2  2022-02-28  24.670000  24.670000  24.440001  24.598000  22.055042    4100
3  2022-03-01  24.780001  24.780001  24.219999  24.271999  21.762745    8300
4  2022-03-02  24.650000  24.709999  24.420000  24.660000  22.110636   14300
         Date       Open       High        Low      Close  Adj Close   Volume
0  2021-01-04  55.820000  56.120998  53.650002  54.040001  48.609627  4852800
1  2021-01-05  54.139999  56.169998  54.000000  55.799999  50.192772  3112800
2  2021-01-06  56.950001  59.209999  56.549999  58.430000  52.558483  6208400
3  2021-01-07  59.000000  59.770000  58.105000  58.509998  52.630455  4437600
4  2021-01-08  58.369999  58.860001  57.750000  58.209999  52.360592  4063500
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []
         Date        Open        High         Low       Close   Adj Close  \
0  2021-01-04  134.570007  135.869995  128.309998  131.369995  131.369995
1  2021-01-05  131.470001  137.940002  131.460007  137.139999  137.139999
2  2021-01-06  138.110001  147.550003  136.839996  143.419998  143.419998
3  2021-01-07  144.110001  144.669998  139.839996  142.289993  142.289993
4  2021-01-08  143.399994  144.750000  141.050003  144.020004  144.020004

    Volume
0  3472400
1  3487300
2  4559100
3  2173500
4  1484000
         Date        Open        High         Low       Close   Adj Close  \
0  2021-01-04  115.019997  116.370003  111.820000  113.480003   95.742035
1  2021-01-05  115.169998  124.500000  114.980003  121.349998  102.381874
2  2021-01-06  122.389999  128.460007  121.300003  126.360001  106.608765
3  2021-01-07  128.380005  133.410004  127.279999  131.990005  111.358772
4  2021-01-08  133.779999  133.779999  130.119995  131.240005  110.725990

    Volume
0  1631300
1  3046000
2  3447400
3  2931500
4  3147800
         Date       Open       High        Low      Close  Adj Close   Volume
0  2021-01-04  69.474998  71.129997  68.209999  68.589996  66.444519  4297000
1  2021-01-05  68.775002  70.169998  68.644997  70.095001  67.902458  3788000
2  2021-01-06  70.910004  73.449997  70.099998  71.440002  69.205376  5817200
3  2021-01-07  72.364998  74.680000  72.315002  74.349998  72.024345  6604600
4  2021-01-08  75.834999  76.425003  73.180000  73.699997  71.394676  5197600
         Date        Open        High         Low       Close   Adj Close  \
0  2021-01-04  222.639999  223.750000  215.720001  220.309998  220.309998
1  2021-01-05  219.490005  223.000000  217.990005  221.520004  221.520004
2  2021-01-06  218.000000  220.460007  215.779999  216.149994  216.149994
3  2021-01-07  217.029999  220.660004  216.500000  217.979996  217.979996
4  2021-01-08  220.000000  222.320007  219.220001  222.039993  222.039993

     Volume
0  10319900
1   8657200
2   9789800
3   8443100
4   7301700
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []
         Date       Open       High        Low      Close  Adj Close   Volume
0  2021-01-04  37.730000  37.770000  36.169998  36.299999  33.524067  2887700
1  2021-01-05  35.900002  37.139999  35.730000  36.810001  33.995060  2240000
2  2021-01-06  37.259998  37.759998  37.029999  37.220001  34.373711  2506600
3  2021-01-07  37.500000  37.970001  36.959999  37.400002  34.539940  2715500
4  2021-01-08  37.770000  39.270000  37.700001  39.009998  36.026821  3321200
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []
         Date        Open        High         Low       Close   Adj Close  \
0  2021-01-04  556.940002  557.359985  521.510010  526.830017  526.830017
1  2021-01-05  526.039978  533.330017  524.799988  531.969971  531.969971
2  2021-01-06  519.770020  520.940002  507.059998  507.250000  507.250000
3  2021-01-07  510.000000  516.900024  508.709991  511.410004  511.410004
4  2021-01-08  521.640015  531.609985  518.159973  529.640015  529.640015

    Volume
0  1889200
1  1544200
2  1969800
3  1869600
4  1594900
<bound method NDFrame.head of            Date        Open        High         Low       Close   Adj Close  \
0    2021-01-04  556.940002  557.359985  521.510010  526.830017  526.830017
1    2021-01-05  526.039978  533.330017  524.799988  531.969971  531.969971
2    2021-01-06  519.770020  520.940002  507.059998  507.250000  507.250000
3    2021-01-07  510.000000  516.900024  508.709991  511.410004  511.410004
4    2021-01-08  521.640015  531.609985  518.159973  529.640015  529.640015
..          ...         ...         ...         ...         ...         ...
562  2023-03-29  433.549988  438.989990  431.290009  438.440002  438.440002
563  2023-03-30  443.540009  443.839996  438.079987  439.630005  439.630005
564  2023-03-31  443.100006  465.410004  441.619995  464.720001  464.720001
565  2023-04-03  461.529999  465.890015  457.410004  464.489990  464.489990
566  2023-04-04  475.440002  482.329987  472.380005  476.049988  476.049988

      Volume
0    1889200
1    1544200
2    1969800
3    1869600
4    1594900
..       ...
562  1304500
563  1078700
564  2453900
565  1358600
566  2247200

[567 rows x 7 columns]>

### Ticker objects and company information

In [113]:
tickers = yf.Tickers('msft aapl goog')

In [114]:
# access each ticker using (example)
msft  = tickers.tickers['MSFT']
aapl  = tickers.tickers['AAPL']
goog  = tickers.tickers['GOOG']

In [115]:
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
2022-11-16 00:00:00-05:00    0.68
2023-02-15 00:00:00-05:00    0.68
Name: Dividends, Length: 77, dtype: float64